body {
  
background-image: url("fon.png");
  }
form {
margin: 0px;
padding: 0px;	
}

  
.illusion { 
	background-color: #ffffff;
	width: 900px; 
	margin: 100px auto;  
	border: 3px solid #396A25;
	position: relative;
	padding: 0px;
	min-height: 700px;
  
 }

.cat_edit {
	width: 400px;
   border: 2px solid #B41818;
   border-radius: 3px;
   float: right;
   }
.cat_edit_form {
   border: 2px solid #73A527;
   border-radius: 5px;
   margin: 0px;
   }
.cat_rename {
 border: 1px solid #cccccc;
 padding: 5px;
 margin-right: 20%;
  margin: 5px;
}

.cat_edit_name {
border: 1px solid #cccccc;
padding: 5px;
margin: 5px;
}
.cat_edit_other{
	border: 1px solid #cccccc;
	padding:5px;
	margin: 5px;
	}
.cat_order {
 height: 26px;
 border: 1px solid #cccccc;
 padding: 5px;
 margin-right: 20%;
 margin: 5px;
display: inline-block;
 vertical-align: top;
}
.cat_order input {
 width: 40px;
 height: 20px;
}
.cat_delete {
 vertical-align: top;
	width: 150px;
 border: 1px solid #cccccc;
 padding: 5px;
  margin: 5px;
  display: inline-block;
}
.cat_desc {
	width: 370px;
	max-width: 370px;
}

.game_edit {
	width: 480px;
   border: 2px solid #B41818;
   border-radius: 3px;
   float: left;
   }
.game_form {
   border: 2px solid #73A527;
   border-radius: 5px;
   margin: 0px;
   }
.game_rename {
 border: 1px solid #cccccc;
 padding: 5px;
 margin: 5px;
}

.game_rename input {
float: right;
width: 300px;
}

.game_cat {
 border: 1px solid #cccccc;
 padding: 5px;
 margin: 5px;
}
.game_cat p{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}


.game_header{
position: relative;
border: 1px solid black;
padding: 5px;
margin: 5pxpx;
display: block;
}

.game_header p{
margin: 0px;
padding: 5px;
font-family: Georgia;
font-weight: bold; 	
}

.game_show {
	display: inline-block;
	border: 1px solid #cccccc;
	margin: 5px;
	padding-left: 15px;
}

.game_show p {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.game_edit_other{
	border: 1px solid #cccccc;
	padding:5px;
	margin: 5px;
}

.game_order {
 height: 26px;
 border: 1px solid #cccccc;
 padding: 5px;
 margin-right: 20%;
 margin: 5px;
display: inline-block;
 vertical-align: top;
}
.game_order input {
 width: 40px;
 height: 20px;
}
.game_delete {
	vertical-align: middle;
	width: 150px;
	border: 1px solid #cccccc;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}
.game_desc{
 border: 1px solid #cccccc;
 padding: 5px;
 margin: 5px;
	
}  
  
.game_desc textarea{
	width: 425px;
	max-width: 425px;
	text-align: justify;
	margin: 5px;
}
.game_desc textarea[name="game_desc"]{
	height: 150px;
}

.game_desc textarea[name="game_control"]{
	height: 50px;
}

.game_edit_form, .files, .game_bottom {
display:none;
}

.game_form span {
	font-weight:700;
	font-size: 17;
}

.game_edit_form input[type="submit"]{
	font-size:110%;
	font-weight:600;
	position: relative;
	left: 350px;
}

.files {
 border: 1px solid #cccccc;
 padding: 5px;
 margin: 5px;
}

.imagine, .flash{
	border: 1px solid #cccccc;
	padding: 5px;
	margin: 5px;	
}
.imagine p, .flash p{
	display: inline-block;
	position: relative;
}
.flash p{
left: 18px;	
}

.game_bottom{
	border: 1px solid #cccccc;
	padding: 5px;
	margin: 5px;	
	
}

.clr {
    clear: both!important;
    height: 0;
	margin: 0;
    padding: 0;
	}
