.top-block-slider2 {
  background: #d7d4cb;
  -webkit-box-shadow: 0 0 8px #aaa592;
          box-shadow: 0 0 8px #aaa592;
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
}

@media (max-width: 480px) {
  .top-block-slider2 {
    position: fixed;
    width: 80vw;
    left: -80vw;
    top: 0px;
    height: 100vh;
    max-height: 100vh;
  }
}

@media (max-width: 480px) {
  .top-block-slider2-nav-header {
    display: none;
  }
}

@media (max-width: 480px) {
  .top-block-slider2-nav-footer {
    display: none;
  }
}

@media (max-width: 480px) {
  .top-block-slider2-header {
    display: none;
  }
}

@media (max-width: 480px) {
  .top-block-slider2-footer {
    display: none;
  }
}

.top-block-slider2-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-block-slider2-slider ul {
  -ms-flex-negative: 2;
      flex-shrink: 2;
  margin-bottom: auto;
}

@media (max-width: 480px) {
  .top-block-slider2-slider ul {
    overflow: scroll;
  }
}

.top-block-slider2-slider:last-child a {
  border: 0px;
}

.top-block-slider2-slider li {
  list-style-type: none;
}

.top-block-slider2-slider a {
  color: #002b50;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  font-size: 1rem;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 35px;
}

.top-block-slider2-slider-header {
  height: 52px;
  background: #009cff;
  width: 80vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 480px) {
  .top-block-slider2-slider-header {
    display: none;
  }
}

.top-block-slider2-slider-footer {
  height: 52px;
  background: #009cff;
  width: 80vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 480px) {
  .top-block-slider2-slider-footer {
    display: none;
  }
}

@media (max-width: 480px) {
  .top-block-slider2-slider-footer {
    position: fixed;
    bottom: 0px;
  }
}

.go-top a {
  display: block;
  padding: 5px 10px 5px 10px;
  position: relative;
  margin: 15px auto 15px;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #009cff;
  font-size: 1.2rem;
  width: 80px;
  text-decoration: none;
}

.go-top a:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 5px;
  margin-top: -10px;
  border: 8px solid transparent;
  border-bottom-color: #009cff;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.popular-games {
  max-width: 1250px;
  margin: 0 auto;
}

.popular-games-container {
  background: #dff2fe;
  padding: 10px 0px 30px 0px;
}

.new-games {
  max-width: 1250px;
  margin: 0 auto;
}

.new-games-container {
  background: #fffcf6;
  padding: 10px 0px 30px 0px;
}

.best-games {
  max-width: 1250px;
  margin: 0 auto;
}

.best-games-container {
  padding: 10px 0px 30px 0px;
  background: #dff2fe;
}

.description {
  max-width: 1250px;
  margin: 0 auto;
  padding: 5px;
}

.description-container {
  background: #dff2fe;
}

.content {
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
}

@media (max-width: 480px) {
  .content {
    margin: 52px 0 0 0;
  }
}

.header-article {
  padding: 5px;
}

.header-article h1 {
  font-size: 24px;
}

.box {
  color: black;
  margin: 0 0 15px 0;
  text-align: justify;
  background: #d7d4cb;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid #cbc9bd;
  -webkit-box-shadow: 0 0 8px #cbc9bd;
          box-shadow: 0 0 8px #cbc9bd;
}

.tags {
  background-color: #fffcf6;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  border: 1px solid #fff4dd;
  -webkit-box-shadow: 0 0 8px #fff4dd;
          box-shadow: 0 0 8px #fff4dd;
}

.tags a {
  display: inline-block;
  text-decoration: none;
  margin: 5px 0px 5px 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  background-color: #33b0ff;
}

.tags a:hover {
  background-color: #007dcc;
  border-radius: 5px;
}

.tags span {
  color: black;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.2em;
}

.game-card {
  margin: 5px;
  background: #dddbd4;
  -webkit-box-shadow: 0 0 6px white;
          box-shadow: 0 0 6px white;
  -webkit-transition: color 0.5s ease-out, background-color 0.5s ease-out;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
  border-radius: 5px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media (min-width: 360px) {
  .game-card:first-child {
    grid-area: 1/ 1/ 3/ 3;
  }

  .game-card:first-child span {
    font-size: 1.6rem;
    position: relative;
    top: 5px;
  }
}

.game-card span {
  padding: 0 7px;
  font-size: 0.9rem;
  white-space: nowrap;
}

.game-card a {
  display: block;
  color: #002b50;
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  height: 100%;
}

.game-card a:hover {
  background-color: #0f9af9;
  color: #fff;
}

.game-card a:hover img {
  opacity: .25;
  background-color: #0f9af9;
  color: #fff;
}

.game-card img {
  width: 100%;
}

.new-games .game-card a {
  background: #dff2fe;
}

.index-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-pagination a,
.index-pagination span {
  display: block;
  border-radius: 4px;
  background: #33b0ff;
  text-align: center;
  color: black;
  margin: 5px;
  padding: 5px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100px;
  max-width: 200px;
}

.index-pagination a:hover,
.index-pagination span:hover {
  background: #007dcc;
  color: #f8f8f6;
}

.index-pagination span {
  cursor: not-allowed;
}

.index-pagination-disabled span {
  color: #007dcc;
  background: #fffcf6;
}

.top-block-wrapper {
  background: #009cff;
}

.top-block {
  max-width: 1250px;
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
  background: #009cff;
  top: 0px;
  z-index: 10;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .top-block {
    position: fixed;
    width: 100%;
  }
}

.top-block-clicked {
  -webkit-transform: translateX(80vw);
          transform: translateX(80vw);
}

.top-block-click-svg rect {
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
}

.top-block-click-svg rect:first-child {
  opacity: 0;
}

.top-block-click-svg rect:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.top-block-click-svg rect:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.top-block-click-svg rect:nth-child(4) {
  opacity: 0;
}

.top-block svg {
  display: block;
  width: 30px;
  height: 30px;
  fill: #fff;
}

.top-block-logo {
  display: block;
  text-align: center;
  background-image: url("/img/site/brend.png");
  background-size: 180px 50px;
  background-repeat: no-repeat;
  width: 180px;
  height: 50px;
}

@media (max-width: 768px) {
  .top-block-logo {
    margin-right: auto;
    margin-left: auto;
  }
}

.top-block button {
  height: 52px;
  border: 0;
  background: 0;
  padding: 0 15px;
  z-index: 200;
}

.top-block button:focus {
  outline: none;
}

.top-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.top-block-top-categories {
  margin-left: auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 768px) {
  .top-block-top-categories {
    display: none;
  }
}

.top-block-top-categories:last-child a {
  border: 0px;
}

.top-block-top-categories ul {
  position: absolute;
  width: 173px;
  top: 39px;
  border-radius: 0 0 5px 5px;
}

.top-block-top-categories li {
  list-style-type: none;
}

.top-block-top-categories li:last-child li {
  background: red;
  border: 0px;
  border-radius: 5px;
}

.top-block-top-categories a {
  color: #002b50;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  font-size: 1rem;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 35px;
}

.top-block-top-categories span {
  display: block;
  color: #009cff;
  font-size: 1rem;
  margin: 9px;
}

.top-block-top-categories span:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 3px 10px;
  border: 5px solid #b33d3d00;
  border-bottom: 0;
  border-top-color: #009cff;
}

.top-block-popular-categories {
  margin-left: 6px;
  background: #fff;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .top-block-popular-categories {
    display: none;
  }
}

.top-block-popular-categories span {
  display: block;
  color: #009cff;
  font-size: 1rem;
}

.top-block-popular-categories span:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 3px 10px;
  border: 5px solid #b33d3d00;
  border-bottom: 0;
  border-top-color: #009cff;
}

.top-block-slider {
  display: none;
  background: #d7d4cb;
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
}

@media (max-width: 768px) {
  .top-block-slider {
    position: fixed;
    width: 80vw;
    left: -80vw;
    top: 0px;
    height: 100vh;
    max-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-block-slider ul {
  -ms-flex-negative: 2;
      flex-shrink: 2;
  margin-bottom: auto;
}

@media (max-width: 480px) {
  .top-block-slider ul {
    overflow: scroll;
  }
}

.top-block-slider:last-child a {
  border: 0px;
}

.top-block-slider li {
  list-style-type: none;
}

.top-block-slider a {
  color: #002b50;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  font-size: 1rem;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 35px;
}

.top-block-slider-header {
  height: 52px;
  background: #009cff;
  width: 80vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.top-block-slider-footer {
  height: 52px;
  background: #009cff;
  width: 80vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 769px) {
  #top-block-button {
    display: none;
  }
}

#top-block-button svg rect {
  -webkit-transition: opacity 0.5s 0s, -webkit-transform 0.5s 0s;
  transition: opacity 0.5s 0s, -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s, opacity 0.5s 0s;
  transition: transform 0.5s 0s, opacity 0.5s 0s, -webkit-transform 0.5s 0s;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-img img {
  width: 100%;
}

.game-img {
  padding: 10px;
}

.game-play-button {
  margin: 0 auto 10px auto;
  width: 50%;
  text-align: center;
}

.game-play-button a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: white;
  background: red;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
}

.breadcrumb {
  border-radius: 5px;
  background-color: #fffcf6;
  border: 1px solid #fff4dd;
  -webkit-box-shadow: 0 0 8px #fff4dd;
          box-shadow: 0 0 8px #fff4dd;
  margin: 5px 10px 5px 10px;
}

.breadcrumb a {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #33b0ff;
}

.breadcrumb a:hover {
  background-color: #007dcc;
  border-radius: 5px;
}

.breadcrumb span {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.2em;
  color: black;
}

.like {
  margin-left: 10px;
}

.like span {
  font-size: 14px;
  color: #009cff;
  vertical-align: middle;
  font-weight: 600;
}

.like img {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

#like {
  cursor: pointer;
  padding: 3px;
  background: #009cff;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 600;
  border: 1px solid #edece8;
  width: 75px;
  margin-left: 5px;
}

#like:hover {
  color: #007dcc;
  background: #005e99;
}

#like:focus {
  outline: none;
}

.game-control {
  background: #fffcf6;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  border: 1px solid #fff4dd;
  -webkit-box-shadow: 0 0 8px #fff4dd;
          box-shadow: 0 0 8px #fff4dd;
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-control-text {
  text-align: justify;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 20px;
}

.game-control-img {
  margin-right: 10px;
}

.game-control img {
  width: 50px;
}

.flash {
  border: 1px solid #edece8;
  background: #edece8;
  margin-bottom: 7px;
  border-radius: 0px 0px 5px 5px;
}

.fucking_css {
  margin: auto;
}

.video {
  height: 0;
  overflow: hidden;
  position: relative;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer-wrapper {
  background: #009cff;
}

.footer {
  max-width: 1250px;
  margin: 0 auto;
  color: black;
  padding: 10px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
}

.footer p {
  font-size: 0.8rem;
  font-weight: 600;
}

.index-footer img {
  height: 80px;
  width: 80px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffcf6;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

.wrapper {
  -webkit-transition: -webkit-transform 1s 0s;
  transition: -webkit-transform 1s 0s;
  transition: transform 1s 0s;
  transition: transform 1s 0s, -webkit-transform 1s 0s;
}

.text-block {
  color: black;
  margin: 5px 10px 5px 10px;
  text-align: justify;
  background: #fffcf6;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  border: 1px solid #fff4dd;
  -webkit-box-shadow: 0 0 8px #fff4dd;
          box-shadow: 0 0 8px #fff4dd;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.content p {
  font-size: 1.3em;
  font-style: normal;
  text-align: justify;
  color: black;
  font-weight: 600;
  line-height: 1.5;
}

/* Large desktop */

/* Portrait tablet to landscape and desktop */

/* Landscape phone to portrait tablet */

/* Landscape phones and down */

@media (max-width: 480px) {
  .sidebar header {
    display: none;
  }
}

#message a {
  /* display: block before hiding */
  display: block;
  display: none;
  /* link is above all other elements */
  z-index: 999;
  /* link doesn't hide text behind it */
  opacity: 0.7;
  /* link stays at same place on page */
  position: fixed;
  /* link goes at the bottom of the page */
  top: 100%;
  margin-top: -80px;
  /* = height + preferred bottom margin */
  /* link is centered */
  left: 50%;
  margin-left: -160px;
  /* = half of width */
  /* round the corners (to your preference) */
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  /* make it big and easy to see (size, style to preferences) */
  width: 300px;
  line-height: 48px;
  height: 48px;
  padding: 10px;
  background-color: #000;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

