/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{background-color:#3c262a;font-family:Verdana,Arial,Tahoma,sans-serif;font-size:13px;line-height:1.5;}
ol, ul{list-style:none;}
h1{font-size:24px;margin:5px 0 7px 4px;color:#FCB820;}
.wrap{box-shadow:0 0 8px #F00;position:relative;margin:15px auto 20px auto;border-radius:2px;background:#461a21;width:1000px;}
.logo{height:75px;width:240px;}
.sidebar{float:left;width:240px;border-radius:10px;box-sizing:border-box;margin:10px 10px 0 10px;}
.sidebar_inner{padding:1px 0 10px 0;background:#a8001c;border-radius:3px;}
.clr{clear:both!important;height:0;}
.headline_others{margin-top:10px;padding-left:30px;}
.headline_others img{vertical-align:middle;display:inline;height:40px;width:40px;}
.headline_others span{color:#000;vertical-align:middle;display:inline;font-size:18px;padding:10px 0 5px 5px;margin:10px 0 5px 0;font-weight:600;}
.right_content{width:730px;float:right;margin:10px 10px 0 0;background:#651E2A;border-radius:2px;box-sizing:border-box;box-shadow: 0 0 8px #F00;padding:0 15px 10px 15px;}
.box{color:#000;margin:0px 0 15px 0;text-align:justify;background:#a8001c;border-radius:3px;padding:10px; font-weight: 600;}
.game_card{display:inline-block;width:224px;background:#721c1c;margin-bottom:25px;margin-left:3px;margin-right:3px;border-radius:6px;box-sizing:border-box;position:relative;vertical-align:bottom; box-shadow: 0 0 8px #F00;}
.game_img{height:153px;width:100%;text-align:center;}
.game_img img{height:153px;width:220px;}
.game_link {text-align:center;margin:5px 0 5px 0;overflow:hidden;white-space:nowrap;text-transform: uppercase;display: block;font-size:13px;text-decoration:none;color:#FCB820;font-weight:600;}
.game_link:hover{text-decoration:underline;}
.det{background:#860a1f;padding:6px 0px;width:100%;border-radius: 0 0 6px 6px;height:24px;margin-top:3px;}
.details{display:block;float:right;width:80px;padding:3px 0;background:#FCB820;color:#000;text-align:center;text-decoration:none;margin:0 5px 0 0;font-size:12px;border-radius:3px;font-weight:600;}
.details:hover{color:white;background:rgba(254,5,12,0.43);}
.likes{padding-top:3px;color:#FCB820;display:block;float:left;margin-left:10px;font-size:13px;line-height:16px;font-weight:600;}
.det img{float:left;margin-left:10px;padding-top:3px;width:18px;height:17px;}
.main_menu{background:rgb(253,218,95);background:linear-gradient(to right,rgba(253,218,95,1) 0%,rgba(252,184,32,1) 100%);box-shadow:3px 3px 3px #a8001c;margin:15px 5px 5px 5px;border-radius:4px;padding:3px;}
.main_menu a{display:block;padding:4px 3px 4px 35px;text-decoration:none;font-size:15px;color:#7c0015;text-shadow:0 1px 1px #D5D5D5;border-bottom:1px solid #facb47;}
.main_menu li a:hover{background:rgb(255,243,191);background:linear-gradient(to bottom,rgba(255,243,191,1) 48%,rgba(253,232,157,1) 49%);border-radius:3px;border-bottom:1px solid #f8be37;}
.n_block{margin:10px 4px 10px 4px;}
.line{padding:4px;margin:0 0 2px 0;border-radius:3px;background:#860a1f;border:1px solid #980019;}
.line img{float:left;border-radius:3px;width:80px;height:56px;}
.line a{color:#fcb820;font-size:0.9em;}
.right{margin-left:80px;padding-left:5px;}
.likeSidebar{color:white;font-size:12px;}
.right img{width:12px;height:12px;margin-top:4px;margin-right:3px;}
.playSide{color: #b9ab8c;}
.footer{padding:10px;}
.copy{background:#fcb820;color:#222;padding:10px;border-radius:4px;border:1px solid #ffdd78;}
.footer img{float:left;height:80px;width:80px;}
.descr {margin:20px;}
.breadcrumb span{margin-left:20px;font-weight: 600;}
.breadcrumb{border-radius:5px;float:left;border:1px solid #461a21;background-color:#a8001c;margin-bottom:7px;}
.breadcrumb a{display:inline-block;text-decoration:none;margin-left:10px;padding:5px 10px 5px 10px;border-radius:5px;color:#fcb820;font-size: 14px;font-weight: 600;}
.breadcrumb a:hover{background-color:white;border-radius:5px;}
.like{float:right;margin-right:50px;margin-top:4px;}
.like span{font-size:14px;color: #fcb820;vertical-align:middle;font-weight:600;}
.like img {width:14px;height:14px;vertical-align:middle;}
#like{cursor:pointer;padding:3px;background: #FCB820;color:#000;text-align:center;text-decoration:none;font-size:12px;border-radius:3px;font-weight:600;border:1px solid #461A21;width:75px;}
#like:hover{color:white;background:rgba(254,5,12,0.43);}
#like:focus{outline:none;}
.upr{background:#A8001C;padding:5px 10px 5px 10px;border-radius: 5px;margin-bottom: 7px;border: 1px solid #461a21;min-height:53px;}
.upr img{float:left;width:40px;margin-top:6px;}
.content{display:inline-block;}
.content p{margin:5px 0 5px 0;font-style:normal;text-align:justify;color:#000;font-weight:600;}
.flash{border:1px solid #3c262a;background:#3c262a;display:inline-block;margin-bottom:7px;border-radius: 0px 0px 5px 5px;}
.flash-opis{display:block;padding:5px 10px 5px 10px;background: #a8001c;border-radius: 5px;border: 1px solid #461a21;}
.flash-opis img{float:left;margin:4px 2px 0px 2px;border:1px solid #651e2a;border-radius:2px;height:153px;width:220px;}
.flash-opis p{text-indent:1.5em;}
*/