.game {
  padding-bottom: 30px;
  @media (max-width: 1250px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  &-wrap {
    background: $section-bg1;
    & h2 {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  max-width: $content-width;
  margin: 0 auto;
  &-header {
    font-size: 1rem;
    padding: 10px 0 10px 0;
  }
  &-block {
    @media (max-width: 480px) {
      grid-template-columns: minmax(120px, 200px) minmax(120px, 200px);
    }
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: repeat(7, minmax(120px, 200px));
    //grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
  }

  &-box {
    @media (max-width: 480px) {
      grid-template-columns: 1fr 1fr;
      grid-row: 1/3;
      grid-column: 1/3;
    }
    grid-row: 1/5;
    grid-column: 2/7;
    width: 100%;
    //margin: 0 auto 0 auto;
    &-img {
      margin-bottom: 10px;
      & img {
        @media (max-width: 480px) {
          width: 100%;
          height: auto;
        }

        display: block;
        width: 646px;
        height: 450px;
        margin: 0px auto 0px auto;
        &:hover {
          background: darken(red, 20%);
          cursor: pointer;
        }
      }
    }
    &-play {
      //display: none;
      margin: 0 auto 0px auto;
      width: 50%;
      text-align: center;
      & span {
        //width: 70%;
        display: block;
        //width: 60px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background: red;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1.2rem;
        &:hover {
          background: darken(red, 20%);
          cursor: pointer;
        }
      }
    }
    &-source {
      @media (max-width: 480px) {
        width: 100%;
        height: 300px;
      }
      width: 646px;
      height: 450px;
      display: none;
      margin: 0px auto 10px auto;
      & iframe {
        width: 100%;
        height: 100%;
      }
    }
    &-fullscreen {
      width: 50%;
      display: none;
      margin: 0px auto 0px auto;
      & span {
        text-align: center;
        //width: 70%;
        display: block;
        //width: 200px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background: red;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1.2rem;
        &:hover {
          background: darken(red, 20%);
          cursor: pointer;
        }
      }
    }
  }
  &-breadcrumb {
    a {
      color: $top-block;
      text-decoration: none;
      &::after {
        content: " \203A  ";
      }
    }
    & span {
    }
    grid-area: breadcrumbs;
    background: $body;
    padding: 10px 0px 10px 0px;
    font-size: 1rem;
    border-radius: 5px;
    //margin-top: 10px;
  }

  //TODO mixin or placeholder
  &-description {
    max-width: $content-width;
    grid-area: description;
    color: $content-color;
    margin: 0px auto 0px auto;
    text-align: justify;
    background: $body;
    border-radius: 5px;
    padding: 20px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  &-tags {
    //margin: 10px 0 10px 0;
    //background-color: $body;
    //border-radius: 5px;
    //margin: 5px 10px 5px 10px;
    //padding-right: 10px;
    //padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    //border: 1px solid darken($body, 5%);
    //box-shadow: 0 0 8px darken($body, 5%);
    & a {
      display: inline-block;
      text-decoration: none;
      margin: 0px 10px 0px 0px;
      padding: 2px 5px 2px 5px;
      border-radius: 5px;
      color: $top-block;
      font-size: 1rem;
      font-weight: 600;
      background-color: lighten($top-block, 43%);
      white-space: nowrap;
    }
    & a:hover {
      background-color: $link-hover;
      border-radius: 5px;
    }
  }
  &-new-games {
    background-color: $body;
    border-radius: 5px;
    padding: 20px;
    margin: 30px auto 0px auto;
    max-width: $content-width;
    &-container {
      @media (max-width: 480px) {
        grid-template-columns: minmax(120px, 200px) minmax(120px, 200px);
      }
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      grid-row-gap: 10px;
      grid-column-gap: 10px;
    }
  }
  &-related-tags {
    &-container {
      @media (max-width: 1250px) {
        margin-left: 10px;
        margin-right: 10px;
      }
      //background-color: $body;
      margin: 30px auto 0px auto;
      max-width: $content-width;
      padding-bottom: 20px;
      border-radius: 5px;
    }
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 10px;
    &-item {
      //height: 50px;
      & a {
        & img {
          width: 70px;
          border-radius: 5px;
          height: 56px;
        }
        & span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        color: $link-color;
        background-color: $body;
        //border-bottom: 1px solid #dfdfdf;
        font-size: 1rem;
        //margin: 5px;
        padding: 2px;
        display: flex;
        //flex-direction: column;
        align-items: center;
        text-decoration: none;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 5px;
        //padding-left: 35px;
        &:hover {
          background-color: #0f9af9;
          color: #fff;
        }
      }
      & span {
        margin-left: 10px;
      }
    }
  }
}