.game-container {
  display: grid;
  //grid-gap: 10px;
  //padding: 10px;
  //overflow: auto;
  //grid-template-columns: minmax(30px 30px) minmax(30px 30px);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  //grid-template-columns: minmax(50px, 50%) minmax(50px, 50%);
  //grid-template-rows: 1fr 1fr;
  //justify-items: stretch;
  //align-items: stretch;
}

.popular-games {
  max-width: $content-width;
  margin: 0 auto;
  &-container {
    background: $section-bg1;
    padding: 10px 0px 30px 0px;
  }
}

.new-games {
  max-width: $content-width;
  margin: 0 auto;
  &-container {
    background: $body;
    padding: 10px 0px 30px 0px;

  }
}

.best-games {
  max-width: $content-width;
  margin: 0 auto;
  &-container {
    padding: 10px 0px 30px 0px;

    background: $section-bg1;
  }
}

.description{
  max-width: $content-width;
  margin: 0 auto;
  &-container{
    padding: 30px 0;
    background: $section-bg1;
  }
}

.content {
  //margin: 10px 10px 10px 10px;
  //box-shadow: 0 0 8px darken($right-content, 20%);
  //background: $right-content;
  //border-radius: 2px;
  //box-shadow: 0 0 8px darken($right-content, 5%);
  //border: 1px solid darken($right-content, 5%);
  //padding: 0 15px 10px 15px;
  transition: transform 0.5s 0s;
  //grid-area: right-content;
  //min-height: 100vh;
  @media (max-width: 480px) {
    margin: 52px 0 0 0;
  }
}

.header-article {
  //text-align: center;
  padding: 5px;
}

.header-article h1 {
  font-size: 24px;
  //color: $nav-ul;

}

.box {
  color: $content-color;
  margin: 0 0 15px 0;
  text-align: justify;
  background: $sidebar;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid darken($sidebar, 5%);
  box-shadow: 0 0 8px darken($sidebar, 5%);
}

//TODO if many counts margin from left
.tags {
  background-color: $body;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  border: 1px solid darken($body, 5%);
  box-shadow: 0 0 8px darken($body, 5%);
  & a {
    display: inline-block;
    text-decoration: none;
    margin: 5px 0px 5px 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: $content-color;
    font-size: 14px;
    font-weight: 600;
    background-color: lighten($top-block, 10%);
  }
  & a:hover {
    background-color: $link-hover;
    border-radius: 5px;
  }
  & span {
    color: $content-color;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 1.2em;
  }
}