.game {
  &-wrap {
    background: $section-bg1;
  }
  max-width: $content-width;
  margin: 0 auto;
  &-header {
    font-size: 1rem;
  }
  &-block {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    grid-template-columns: repeat(7, minmax(100px,200px));
    //grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

  }
  &-box {
    grid-row: 1/5;
    grid-column: 2/7;
    width: 100%;
    margin: 0 auto 0 auto;
    &-img img {
      width: 100%;
    }
    &-play {
      margin: 0 auto 0px auto;
      width: 50%;
      text-align: center;
      & a {
        //width: 70%;
        display: block;
        //width: 60px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background: red;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
  //TODO mixin or placeholder
  &-description {
    grid-area: description;
    color: $content-color;
    margin: 30px 0px 30px 0px;
    text-align: justify;
    background: $body;
    border-radius: 5px;
    padding: 20px;
    font-weight: 600;
    font-size: 0.8rem;
  }
}