.game-container {
  @media (max-width: 1250px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  display: grid;
  //grid-gap: 10px;
  //padding: 10px;
  //overflow: auto;
  //grid-template-columns: minmax(30px 30px) minmax(30px 30px);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //justify-content: space-between;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  //align-items: baseline;
  //grid-auto-flow: row;

  //grid-template-columns: minmax(50px, 50%) minmax(50px, 50%);
  //grid-template-rows: 1fr 1fr;
  //justify-items: stretch;
  //align-items: stretch;
}

//TODO Mixin
.popular-games {
  max-width: $content-width;
  margin: 0 auto;
  &-container {
    background: $section-bg1;
    padding: 10px 0px 30px 0px;
  }
}

.new-games {
  max-width: $content-width;
  margin: 0 auto;
  &-container {
    background: $body;
    padding: 10px 0px 30px 0px;

  }
}

.best-games {
  max-width: $content-width;
  margin: 0 auto;
  &-container {
    padding: 10px 0px 30px 0px;

    background: $section-bg1;
  }
}

.categories {
  @media (max-width: 1250px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  max-width: $content-width;
  margin: 0 auto;
  &-list {
    @media (max-width: 1250px) {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

    }
    //margin-bottom: 10px;
    //height: 600px;
    & li {
      //max-width: 200px;
      //flex-grow: 1;
      //margin: 5px;
      list-style-type: none;
      //max-width: 300px;
    }
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    //grid-auto-flow: column;
    //grid-row-gap: 10px;
    //grid-column-gap: 10px;

    &-category {
      //grid-column: 1/2;
      //grid-row: 1/3;
      a {
        //height: 120px;
        & img {
          width: 100%;
          height: 100px;
          border-radius: 5px;
        }
        & span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          text-align: center;

        }
        color: $link-color;
        background-color: white;
        border-bottom: 1px solid #dfdfdf;
        font-size: 1rem;
        //margin: 5px;
        //padding: 10px;
        display: flex;
        flex-direction: column;
        //align-items: center;
        border-radius: 5px;
        //padding-left: 35px;
        text-decoration: none;

      }
    }
    //&-subcategory {
    //  //height: 50px;
    //  & a {
    //    & img {
    //      width: 70px;
    //      border-radius: 5px;
    //      height: 56px;
    //    }
    //    & span {
    //      white-space: nowrap;
    //      text-overflow: ellipsis;
    //      overflow: hidden;
    //    }
    //    color: $link-color;
    //    background-color: $body;
    //    //border-bottom: 1px solid #dfdfdf;
    //    font-size: 1rem;
    //    //margin: 5px;
    //    padding: 2px;
    //    display: flex;
    //    //flex-direction: column;
    //    align-items: center;
    //    text-decoration: none;
    //    text-align: left;
    //    text-overflow: ellipsis;
    //    overflow: hidden;
    //    border-radius: 5px;
    //    //padding-left: 35px;
    //  }
    //  & span {
    //    margin-left: 10px;
    //  }
    //}
  }

  &-container {
    background: $section-bg1;
    padding-bottom: 30px;
  }
}

.description {
  max-width: $content-width;
  margin: 0 auto;
  padding-bottom: 30px;
  @media (max-width: 1250px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  & img {
    margin: 10px;
  }
  &-container {
    padding: 10px;
    & p {
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 1rem;
      font-style: normal;
      text-align: justify;
      color: $content-color;
      font-weight: 600;
      line-height: 1.5;
      text-indent: 1rem;

    }
    //padding: 30px 0;
    background: $section-bg1;
  }
}

.header {
  max-width: $content-width;
  margin: 0 auto;
  @media (max-width: 1250px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  &-container {
    padding: 10px;
    & p {
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 1rem;
      font-style: normal;
      text-align: justify;
      color: $content-color;
      font-weight: 600;
      line-height: 1.5;
      text-indent: 1rem;

    }
    //padding: 30px 0;
    background: $section-bg1;
  }
}

.content {
  //margin: 10px 10px 10px 10px;
  //box-shadow: 0 0 8px darken($right-content, 20%);
  //background: $right-content;
  //border-radius: 2px;
  //box-shadow: 0 0 8px darken($right-content, 5%);
  //border: 1px solid darken($right-content, 5%);
  //padding: 0 15px 10px 15px;
  transition: transform 0.5s 0s;
  //grid-area: right-content;
  //min-height: 100vh;
  @media (max-width: 768px) {
    margin: 52px 0 0 0;
  }
}

.header-article {
  //text-align: center;
  padding: 5px;
}

.header-article h1 {
  font-size: 24px;
  padding: 5px;
}

.box {
  color: $content-color;
  margin: 0 0 15px 0;
  text-align: justify;
  background: $sidebar;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid darken($sidebar, 5%);
  box-shadow: 0 0 8px darken($sidebar, 5%);
}

