.copy {
  background: $nav-ul;
  color: $content-color;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid lighten($nav-ul,20%);
}

.index-footer img {
  float: left;
  height: 80px;
  width: 80px;
}