.footer-wrapper {
  background: $nav-ul;

}

.footer {
  //grid-area: footer;
  max-width: $content-width;
  margin: 0 auto;
  color: $content-color;
  padding: 10px;
  border-radius: 4px;
  //border: 1px solid lighten($nav-ul, 20%);
  display: flex;
  align-items: center;
  transition: transform 0.5s 0s;

  & p {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.index-footer img {
  height: 80px;
  width: 80px;
}