.game-card-bottom{
  display: block;
  //width: 50px;
  //max-width: 100%;
}

.game-card span {
  overflow: hidden;
  margin: 0;
  padding: 0 6px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-card-bottom p {
  overflow: hidden;
  margin: 0;
  padding: 0 6px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.game-card {
  background: darken($right-content, 2%);
  box-shadow: 0 0 6px lighten($sidebar, 20%);
  position: relative;
  //height: 50px;
  //width: 100%;
  & a{
      display: block;
      border-radius: 5px;
      background: #fff;
      color: #002b50;
      text-decoration: none;
      transition: color .15s ease-out,background-color .15s ease-out;
  }
  &-img {
    text-align: center;
  }
  & img {
    //height: 100%;
    width: 100%;
  }
}