.game {
  display: flex;
  flex-direction: column;
}

.game-img img {
  //width: 100%;
}

.game-img {
  padding: 10px;
}



.game-breadcrumb {
  border-radius: 5px;
  background-color: $body;
  border: 1px solid darken($body, 5%);
  box-shadow: 0 0 8px darken($body, 5%);
  //padding: 10px 0px 10px 0px;
  margin: 5px 10px 5px 10px;
  & a {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: $content-color;;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: lighten($top-block,10%);
  }
  & a:hover {
    background-color: $link-hover;
    border-radius: 5px;
  }
  & span {
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.2em;
    color: $content-color;
  }
}

.game-like {
  margin-left: 10px;
  & span {
    font-size: 14px;
    color: $nav-ul;
    vertical-align: middle;
    font-weight: 600;
  }
  & img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
}

#like {
  cursor: pointer;
  padding: 3px;
  background: $nav-ul;
  color: $content-color;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 600;
  border: 1px solid $wrap;
  width: 75px;
  margin-left: 5px;
}

#like:hover {
  color: $link-hover;
  background: darken($nav-ul, 20%);
}

#like:focus {
  outline: none;
}

.game-control {
  background: $body;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  border: 1px solid darken($body, 5%);
  box-shadow: 0 0 8px darken($body, 5%);
  min-height: 53px;
  display: flex;
  &-text {
    text-align: justify;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 20px;
  }
  &-img {
    margin-right: 10px;
  }
  & img {
    width: 50px;
  }
}

.flash {
  border: 1px solid $wrap;
  background: $wrap;
  //display: inline-block;
  margin-bottom: 7px;
  border-radius: 0px 0px 5px 5px;
  //min-height: 500px;
  //height: 50px;
}

.fucking_css {
  margin: auto;
}

.video {
  height: 0;
  overflow: hidden;
  position: relative;
  //padding-bottom: 25%;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}