.game-card {
  background: darken($right-content, 2%);
  box-shadow: 0 0 6px lighten($sidebar, 20%);
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
  border-radius: 5px;
  & span {
    padding: 0 7px;
    font-size: 13px;
    white-space: nowrap;
  }
  & a {
    display: block;
    color: #002b50;
    text-decoration: none;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    &:hover {
      background-color: #0f9af9;
      color: #fff;
    }
    &:hover img {
      opacity: .25;
      background-color: #0f9af9;
      color: #fff;
    }
  }
  & img {
    width: 100%;
  }
}