.top-block {
  height: 52px;
  background: #009cff;
  position: sticky;
  top: 0px;
  z-index: 100;

  //width: 100vw;
}

.top-block svg {
  display: block;
  width: 30px;
  height: 30px;
  fill: #fff;
}
.top-block-link{
  text-align: center;
  flex-grow: 1;
}
.top-block button {
  height: 52px;
  border: 0;
  background: 0;
  padding: 0 15px;
  background-image: url("/img/site/brend.png");
  z-index: 200;

}
.top-block-content{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.top-block a {
  height: 52px;
  width: 100%;
}