.top-block-wrapper {
  background: $top-block;
}

@mixin top-block-categories($width) {
  @media(max-width: 768px) {
    display: none;
  }
  &:hover ul {
    display: block;
  }
  background: #fff;
  border-radius: 5px;
  position: relative;
  ul {
    position: absolute;
    display: none;
    width: $width;
    top: 39px;
    border-radius: 0 0 5px 5px;
  }
  & li {
    list-style-type: none;
    &:last-child a {
      border-radius: 0px 0px 5px 5px;
    }
  }

  & a {
    & img {
      width: 50px;
      border-radius: 5px;
    }
    color: $top-block;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    font-size: 1rem;
    //margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    //border-radius: 5px;
    //padding-left: 35px;
    & span{
      margin-left: 10px;
    }
  }
  & > span {
    display: block;
    color: $top-block;
    font-size: 1rem;
    margin: 9px;
    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin: 0 0 3px 10px;
      border: 5px solid #b33d3d00;
      border-bottom: 0;
      border-top-color: #009cff;
    }
  }

}

.top-block {
  @media(min-width: 480px) {
    //display: none;

  }
  max-width: $content-width;
  transition: transform 0.5s 0s;
  background: $top-block;
  top: 0px;
  z-index: 10;
  margin: 0 auto;
  @media(max-width: 768px) {
    //display: none;
    position: fixed;
    width: 100%;
  }
  &-clicked {
    transform: translateX(80vw);
  }
  &-click-svg {
    & rect {
      transition: transform 0.5s 0s;
    }
    & rect:first-child {
      opacity: 0;
    }
    & rect:nth-child(2) {
      transform: rotate(45deg);
    }
    & rect:nth-child(3) {
      transform: rotate(-45deg);
    }
    & rect:nth-child(4) {
      opacity: 0;
    }
  }
  & svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: #fff;
  }
  &-logo {
    display: block;
    text-align: center;
    //flex-grow: 1;
    background-image: url("/img/site/brend.png");
    background-size: 180px 50px;
    background-repeat: no-repeat;
    //background-position-x: 50px;
    //background-position-y: 10px;
    @media(max-width: 768px) {
      margin-right: auto;
      margin-left: auto;
    }
    width: 180px;
    height: 50px;
  }
  & button {
    height: 52px;
    border: 0;
    background: 0;
    padding: 0 15px;
    z-index: 200;
    &:focus {
      outline: none;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }
  &-top-categories {
    margin-left: auto;
    @include top-block-categories(173px);
  }
  &-popular-categories {
    margin-left: 10px;
    @include top-block-categories(200px);

  }
  &-slider {
    display: none;
    background: $sidebar;
    //margin: 10px;
    //box-shadow: 0 0 8px darken($sidebar, 20%);
    //grid-area: sidebar;
    transition: transform 0.5s 0s;
    @media (max-width: 768px) {
      //display: inherit;
      position: fixed;
      width: 80vw;
      left: - 80vw;
      top: 0px;
      height: 100vh;
      max-height: 100vh;
      display: flex;
      flex-direction: column;

    }
    //margin-top: 52px;
    //background: lighten($sidebar, 10%);

    & ul {
      @media (max-width: 480px) {
        overflow: scroll;
      }
      flex-shrink: 2;

      //max-height: 300px;
      margin-bottom: auto;

    }
    &:last-child a {
      border: 0px;
    }
    & li {
      list-style-type: none;

    }
    & a {
      color: #002b50;
      background-color: white;
      border-bottom: 1px solid #dfdfdf;
      font-size: 1rem;
      //margin: 5px;
      padding: 10px;
      display: block;
      text-decoration: none;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      //border-radius: 5px;

      padding-left: 35px;
    }

    &-header {
      height: 52px;
      background: $top-block;
      width: 80vw;
      //position: fixed;
      //top: 0px;
      flex-shrink: 0;
    }
    &-footer {
      height: 52px;
      background: $top-block;
      width: 80vw;
      flex-shrink: 0;
      @media (max-width: 480px) {
        //position: fixed;
        //bottom: 0px;
      }
    }
  }
}

#top-block-button {
  @media(min-width: 769px) {
    display: none;
  }
}

#top-block-button svg rect {
  transition: transform 0.5s 0s, opacity 0.5s 0s;
  transform-origin: 50%;
}