.top-block-clicked {

  transform: translateX(80vw);
}

#top-block-button svg rect {
  transition: transform 0.5s 0s, opacity 0.5s 0s;
  transform-origin: 50%;
}

.top-block-click-svg {
  & rect {
    transition: transform 0.5s 0s;
  }
  & rect:first-child {
    opacity: 0;
  }
  & rect:nth-child(2) {
    transform: rotate(45deg);
  }
  & rect:nth-child(3) {
    transform: rotate(-45deg);
  }
  & rect:nth-child(4) {
    opacity: 0;
  }

}

.top-block-slider {
  margin-top: 52px;
  background: lighten($sidebar, 10%);
  position: absolute;
  width: 80vw;
  left: - 80vw;
  max-height: 100vh;
  overflow: scroll;
  & ul {
    margin: 10px;
  }
  & li {
    list-style-type: none;
  }
  & a {
    font-size: 1rem;
    margin: 5px;
    padding: 10px;
    display: block;
    color: #002b50;
    text-decoration: none;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    padding-left: 35px;
  }
  &-header {
    height: 52px;
    background: $top-block;
    width: 80vw;
    position: fixed;
    top: 0px;
  }
}

.top-block {
  transition: transform 0.5s 0s;
  background: $top-block;
  top: 0px;
  z-index: 10;
  position: fixed;
  width: 100vw;
}

.top-block svg {
  display: block;
  width: 30px;
  height: 30px;
  fill: #fff;
}

.top-block-logo {
  display: block;
  text-align: center;
  //flex-grow: 1;
  background-image: url("/img/site/brend.png");
  background-size: 180px 50px;
  background-repeat: no-repeat;
  //background-position-x: 50px;
  //background-position-y: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 180px;
  height: 50px;
}

.top-block button {
  height: 52px;
  border: 0;
  background: 0;
  padding: 0 15px;
  z-index: 200;
  &:focus {
    outline: none;
  }
}

.top-block-content {
  display: flex;
  //flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.top-block a {
  //width: 100%;
}