.wrapper {
  min-height: 600px;
}
.thumbnail a > img {
  height: 150px;
}

.game-card h4 {
  text-align: center;
}

.game-card-button {
  width: 100%;
  margin: 10px 0 10px 0;
}

h4 a {
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.delete-form{
  display: inline;
  position: relative;
  bottom: 35px;
  left: 350px
}

.sidebar {
  margin-top: 20px;
}

.footer-bottom {
  background-color: #161d35;
  min-height: 30px;
  width: 100%;
}

.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}
.design {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: right;
}