$body: rgb(60, 38, 42);
$wrap: rgb(70, 26, 33);
$sidebar: rgb(168, 0, 28);
$nav-a: rgb(124, 0, 21);
$nav-ul: rgb(252, 184, 32);
$content-color: black;
$right-content: rgb(101, 30, 42);
$link-hover: white;

$color-primary-2: rgba(178, 190, 111, 1);
$color-primary-3: rgba(244, 249, 219, 1);
$color-primary-4: rgba(245, 249, 221, 1);
$color-primary-1: rgba(178, 190, 111, 1);

$body: #f1f2f6;

$wrap: darken(#f1f2f6, 10%);

$sidebar: darken(#f1f2f6, 18%);
$nav-ul: rgb(252, 184, 32);

$right-content: darken(#f1f2f6, 10%);

$nav-a: darken(#f1f2f6, 90%); //text link text
$link-hover: white;
$content-color: black;

$border: 1px solid #cccccc;

//@import "sidebar";
//@import "right-content";
//@import "game-card";
@import "game-card2";
//@import "gamePage";
//@import "footer";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 1.5;
}
.game-conainer{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  //overflow: auto;
  //grid-template-columns: minmax(30px 30px) minmax(30px 30px);
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  //grid-template-columns: minmax(50px, 50%) minmax(50px, 50%);
  //grid-template-rows: 1fr 1fr;
  //justify-items: stretch;
  //align-items: stretch;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  //grid-auto-rows: auto 1fr 1fr;
}

.wrapper {
  box-shadow: 0 0 8px lighten($sidebar, 20%);
  border-radius: 2px;
  //margin-top: 20px;
  margin-bottom: 15px;
  background: $wrap;
  padding-bottom: 20px;
}

.header-article{
  text-align: center;
}

.pagination {
  //display: inline-block;
  //width: 10%;
  border-radius: 4px;
  & a, span {
    display: inline-block;
    height: 30px;
    min-width: 10%;
    border-radius: 4px;
    background: $nav-ul;
    text-align: center;
    color: black;
    padding: 6px;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
  }
  & a:hover, span:hover {
    color: $link-hover;
    background: lighten($sidebar, 5%);
  }
  & span {
    cursor: not-allowed;
  }
  & li {
    //width: 30px;
    height: 30px;
    display: inline;
  }
}

.content p {
  font-size: 1.3em;
  //margin: 5px 0 5px 0;
  font-style: normal;
  text-align: justify;
  color: $content-color;
  font-weight: 600;
  line-height: 1.5;
}

//.hidden-block {
//  display: none !important;
//}

.top-block {
  height: 52px;
  background: #009cff;
  position: sticky;
  top: 0px;
  z-index: 100;
  width: 100vw;
 }

.top-block svg {
  display: block;
  width: 30px;
  height: 30px;
  fill: #fff;
}
.top-block-link{
  text-align: center;
  flex-grow: 1;
}
.top-block button {
  height: 52px;
  border: 0;
  background: 0;
  padding: 0 15px;
}
.top-block-content{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.box {
  color: $content-color;
  margin: 0 0 15px 0;
  text-align: justify;
  background: $sidebar;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid darken($sidebar, 5%);
  box-shadow: 0 0 8px darken($sidebar, 5%);
}

.top-block a {
  height: 52px;
  width: 100%;
}

/* Large desktop */
@media (min-width: 1200px) {
}

#menu {
  display: none;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .sidebar{
    display: none;
  }
  #menu {
    display: block;
  }
  .menu-row {
    display: none;
  }
}