$body: rgb(60, 38, 42);
$wrap: rgb(70, 26, 33);
$sidebar: rgb(168, 0, 28);
$nav-a: rgb(124, 0, 21);
$nav-ul: rgb(252, 184, 32);
$content-color: black;
$right-content: rgb(101, 30, 42);
$top-block: #009cff;

$link-hover: darken($top-block, 10%);
$link-color: #002b50;
$color-primary-2: rgba(178, 190, 111, 1);
$color-primary-3: rgba(244, 249, 219, 1);
$color-primary-4: rgba(245, 249, 221, 1);
$color-primary-1: rgba(178, 190, 111, 1);

$color1: #034488;
$color2: #178fd6;
$color3: #ccdde8;
$color4: #edece8;
$color5: #fffcf6;

$section-bg1: #dff2fe;
$body: $color5;
$wrap: $color4;
$right-content: darken($color4, 5%);
$sidebar: darken($color4, 10%);

$nav-ul: #009cff;

$nav-a: darken(#f1f2f6, 90%); //text link text

$border: 1px solid #cccccc;
$content-width: 1250px;

@import "sidebar";
@import "layout";
@import "content";
@import "game-card";
@import "pagination";
@import "topBlock";
@import "footer";
@import "contentCategory";
@import "contentGame";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  //position: relative;
}

h2 {
  font-size: 1.4rem;
}

h1 {
  font-size: 1.6rem;
}

.wrapper {
  transition: transform 1s 0s;
  @media (min-width: 480px) {
  }
}


.overflow-hidden {
  overflow: hidden;
  position: relative;
  //height: 100%;
}


//.hidden-block {
//  display: none !important;
//}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
  //.sidebar header {
  //  display: none;
  //}
}


#message a {
  /* display: block before hiding */
  display: block;
  display: none;
  /* link is above all other elements */
  z-index: 999;
  /* link doesn't hide text behind it */
  opacity: 0.7;
  /* link stays at same place on page */
  position: fixed;
  /* link goes at the bottom of the page */
  top: 100%;
  margin-top: -80px; /* = height + preferred bottom margin */
  /* link is centered */
  left: 50%;
  margin-left: -160px; /* = half of width */
  /* round the corners (to your preference) */
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  /* make it big and easy to see (size, style to preferences) */
  width: 300px;
  line-height: 48px;
  height: 48px;
  padding: 10px;
  background-color: #000;
  font-size: 24px;
  text-align: center;
  color: #fff;
}